<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/login">
        <button>login</button>
    </a>

    <a href="/signUp">
        <button>Sign Up</button>
    </a>

    <a href="/protected">
        <button>Protected</button>
    </a>

    <a href="/logout">
        <button>logout</button>
    </a>
    
</body>
</html>